<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        {{> header}}
    <main class="content">
      {{{body}}}
    </main>
    </div>
    {{> footer}} 
  </body>
</html>