   <h1>Parth Shah</h1>
        <p>Email: <a href="mailto:parthshah.ps921@gmail.com">parthshah.ps921@gmail.com</a><br>
            Phone: 437-424-5838<br>
            LinkedIn: <a href="https://www.linkedin.com/in/parth-shah-30831a12a/" target="_blank">https://www.linkedin.com/in/parth-shah-30831a12a/</a></p>
    

        <h2>Summary</h2>
        <p>Currently pursuing a graduate certificate course in Humber
            College,Canada.
            I will complete my graduation by april 2024.
            I have worked as a Software developer for more than 3 years. In
            this period of time i made many applications starting from scratch to
            publish into the play-store.
            Java,swift,React-native, JavaScript.
            Willing to work as a Android/ios developer.</p>

        <h2>Education</h2>
        <p><strong> Humber College</strong><br>
        Degree: Graduate certificate , Information technology solutions <br>
        Graduation Date: (August
        2022 - September 2024)</p>

        <p><strong> BITS INSTITUTE OF PHYSIOTHERAPY </strong><br>
            Degree: Bachelor of Engineering - BE, Computer Science and Engineering <br>
            Graduation Date: (October
            2015 - May 2019)</p>


        <h2>Work Experience</h2>
        <p><strong> iTechnosol Inc ( JR. Software Developer )</strong> &nbsp;    Jan 2019 - Aug 2021 <br><br>
        • Initiated and developed Mobile Applications for Android and IOS platforms.
        • Integrated GRDB database for the local Database app to save users business data with AES - 256 encryption. • Projects created using appropriate Architectures, such as MVC and MVVM.
        • Performed Version Control using tools like GITHUB BIT-BUCKET,GITLAB.
        • Used tools such as CLICK-UP,JIRA and TRELLO for project management.</p>
        <p><strong> Mobio Solutions ( Software Engineer ) </strong> &nbsp;&nbsp;  Sep 2021 – July 2022 <br><br>
        • Developed Mobile applications in React native and IOS.
        • Push,merge and pull the code to GitHub repositories with the use of SourceTree. </p>
       
        <p><strong> Skynet Computers,India ( Software Engineering Intern )    </strong> &nbsp;&nbsp;   May 2018 - Apr 2019 <br><br> 
        • Create android application for transportation company to automate route and manage drivers.
        • Generated shortest Automatic route for the car on entering location with stop point with help of travelling
        salesman algorithm implemented in JAVA.
        • Integrated mobile applications with Google maps API for generating routes. </p>

        <h2>Skills</h2>
        <ul>
            <li>Programming Languages: Java,JavaScript,Android,Swift,React-Native</li>
            <li>Libraries and Frameworks: CoCoa,UIKit,Core Data,Third party frameworks</li>
            <li>Database: MySQL,GRDB,SQLite,MongoDB</li>
            <li>IDEs: Xcode,Android Studio,Eclipse IDE,IntelliJ,Visual-Studio</li>
        </ul>

