<h1>Search by Manufacturer</h1>
<form method="POST" action="/data/search/manufacturer/result">
    <input type="text" name="manufacturer" placeholder="Enter Manufacturer">
    <input type="submit" value="Search">
</form>